<!-- Features -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].features.section | default: " features"
    }}">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].features.title | default:
                    "Features" }}</h2>
                {% if site.data.sitetext[site.locale].features.text %}
                <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].features.text }}</h3>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="accordion">
                <div class="card">
                    <div class="card-header">
                        <a href="#mechanical" data-toggle="collapse">Mechanical</a>
                    </div>
                    <div id="mechanical" class="collapse text-muted">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <h4>Engine</h4>
                                    <ul>
                                        <li>QR25DE - 2.5-litre DOHC 16-valve 4-cylinder</li>
                                        <li>Horsepower - 170 hp @ 6000 rpm</li>
                                        <li>Torque - 175 lb-ft @ 4400 rpm</li>
                                        <li>Emissions - Tier 2, Bin 5</li>
                                        <li>Continuously Variable Valve Timing Control System (CVTCS) on intake and
                                            exhaust
                                            valves</li>
                                        <li>Nissan Direct Ignition System (NDIS)</li>
                                        <li>Engine block heater</li>
                                        <li>Eco Mode</li>
                                    </ul>
                                    <h4>Drivetrain</h4>
                                    <ul>
                                        <li>Intuitive All-Wheel Drive (AWD)</li>
                                        <li>Hill start assist</li>
                                        <li>Hill descent control</li>
                                        <li>Xtronic CVT® (Continuously Variable Transmission) with Sport mode</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h4>Brakes</h4>
                                    <ul>
                                        <li>4-wheel Anti-lock Braking System (ABS) </li>
                                        <li>Electronic Brake force Distribution (EBD)</li>
                                        <li>Brake Assist (BA)</li>
                                        <li>Active Trace Control</li>
                                        <li>Active Engine Braking</li>
                                        <li>Active Ride Control</li>
                                        <li>Suspension/Steering</li>
                                        <li>Independent strut front suspension Independent multi-link rear suspension
                                        </li>
                                        <li>Front and rear stabilizer bars Vehicle-speed-sensitive electric power
                                            steering</li>
                                    </ul>
                                    <h4>Suspension/Steering</h4>
                                    <ul>
                                        <li>Independent strut front suspension </li>
                                        <li>Independent multi-link rear suspension</li>
                                        <li>Front and rear stabilizer bars </li>
                                        <li>Vehicle-speed-sensitive electric power steering</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a href="#exterior" data-toggle="collapse">Exterior</a>
                    </div>
                    <div id="exterior" class="collapse text-muted">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <h4>Wheels/Tires</h4>
                                    <ul>
                                        <li>17" x 7.0" aluminum-alloy Wheels</li>
                                        <li>P225/65R17 all-season</li>
                                    </ul>
                                    <h4>Exterior Features</h4>
                                    <ul>
                                        <li>Halogen headlights</li>
                                        <li>LED Daytime Running Lights</li>
                                        <li>Auto-on/off headlights</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li>Fog lights</li>
                                        <li>Power heated outside mirrors with LED turn signal indicators</li>
                                        <li>Splash guards</li>
                                        <li>Roof rails</li>
                                        <li>Rear spoiler</li>
                                        <li>Power Panoramic Moonroof</li>
                                        <li>UV-reducing solar glass</li>
                                        <li>Rear privacy glass</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a href="#interior" data-toggle="collapse">Interior</a>
                    </div>
                    <div id="interior" class="collapse text-muted">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <h4>Comfort/Convenience</h4>
                                    <ul>
                                        <li>Advanced Drive-Assist® Display</li>
                                        <li>NissanConnectSM with Mobile Apps</li>
                                        <li>Hands-free text messaging assistant</li>
                                        <li>Bluetooth® Hands-Free Phone System</li>
                                        <li>RearView Monitor</li>
                                        <li>Air conditioning</li>
                                        <li>In-cabin microfilter</li>
                                        <li>Rear passenger air conditioning vents</li>
                                        <li>Power windows with driver's one-touch auto-up/down feature</li>
                                        <li>Power door locks with auto-locking feature</li>
                                        <li>Nissan Intelligent Key® with Push Button Ignition</li>
                                        <li>Tilt and telescoping steering column</li>
                                        <li>Cruise control with steering wheel-mounted switches</li>
                                        <li>Variable intermittent windshield wipers</li>
                                        <li>Intermittent rear window wiper</li>
                                        <li>Three 12-volt DC power outlets</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li>Sun visors with illuminated vanity mirrors and extensions</li>
                                        <li>Overhead LED map lights</li>
                                        <li>Mood lighting</li>
                                        <li>Overhead sunglasses storage</li>
                                        <li>Front centre console</li>
                                        <li>Four cup holders and four bottle holders</li>
                                        <li>Front seatback pockets</li>
                                        <li>Cargo tie-down hooks (four)</li>
                                        <li>Divide-N-Hide® Cargo System</li>
                                        <li>Retractable cargo cover</li>
                                    </ul>
                                    <h4>Seating/Appointments</h4>
                                    <ul>
                                        <li>6-way power driver's seat with power lumbar</li>
                                        <li>4-way manual front-passenger's seat</li>
                                        <li>EZ Flex Seating System with 2nd-row split folding/sliding/reclining bench
                                            seat with
                                            pass-through</li>
                                        <li>Cloth seat trim</li>
                                        <li>Quick Comfort® heated front seats</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a href="#audio-entertainment" data-toggle="collapse">Audio/Entertainment</a>
                    </div>
                    <div id="audio-entertainment" class="collapse text-muted">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li>AM/FM/CD audio system with 5.0" colour display</li>
                                        <li>Six speakers</li>
                                        <li>MP3/WMA CD playback capability</li>
                                        <li>Auxiliary audio input jack</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li>USB connection port for iPod® interface and other compatible devices</li>
                                        <li>Streaming audio via Bluetooth® wireless technology</li>
                                        <li>*SiriusXM® Satellite Radio</li>
                                        <li>lluminated steering-wheel-mounted audio controls</li>
                                    </ul>
                                    <div class="font-weight-lighter">
                                        *1XM® and SiriusXM® Satellite Radio is available in the 10 Canadian provinces
                                        and the 48
                                        contiguous United
                                        States. Basic monthly subscription required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a href="#safety" data-toggle="collapse">Safety</a>
                    </div>
                    <div id="safety" class="collapse text-muted">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li>Nissan Advanced Airbag System with dual-stage supplemental front airbags
                                            with seat
                                            belt and
                                            occupant-classification sensors</li>
                                        <li>Driver and front-passenger seat-mounted side-impact supplemental airbags
                                        </li>
                                        <li>Roof-mounted curtain supplemental airbags for side-impact head protection
                                            for front
                                            and
                                            rear-seat
                                            outboard
                                            occupants</li>
                                        <li>Vehicle Dynamic Control (VDC) with Traction Control System (TCS)</li>
                                        <li>3-point ALR/ELR passenger seat belt system (ELR for driver)</li>
                                        <li>Front seat belts with pre-tensioners and load limiters</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li>LATCH System (Lower Anchors and Tethers for CHildren)</li>
                                        <li>Zone Body construction with front and rear crumple zones and reinforced
                                            passenger
                                            compartment</li>
                                        <li>Hood-buckling creases and safety stops</li>
                                        <li>Break-away engine mounts and energy-absorbing steering column</li>
                                        <li>Slide-away brake pedal assembly and knee bolsters</li>
                                        <li>Pipe-style steel side-door guard beams</li>
                                        <li>Tire Pressure Monitoring System (TPMS) with individual tire pressure display
                                            and
                                            Easy-Fill
                                            Tire Alert
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a href="#capacities" data-toggle="collapse">Other</a>
                    </div>
                    <div id="capacities" class="collapse text-muted">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <h4>Security</h4>
                                    <ul>
                                        <li>Immobilizer Key System</li>
                                        <li>Anti-theft system</li>
                                    </ul>
                                    <h4>Capacities</h4>
                                    <ul>
                                        <li>5 seats</li>
                                        <li>Interior passenger volume with moonroof - 2,843L</li>
                                        <li>Cargo capacity with second-row upright - 1,112L</li>
                                        <li>Cargo capacity with rear seats folded down - 1,982L</li>
                                        <li>Fuel Tank 55L</li>
                                        <li>Maximum towing capacity 454kg</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h4>Curb Weight</h4>
                                    <ul>
                                        <li>AWD Base Total 1,631kg</li>
                                    </ul>
                                    <h4>Fuel Consumption</h4>
                                    <ul>
                                        <li>Estimates - L/100 km: 7.4 Highway 9.5 City</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- End Features -->