<!-- Gallery -->
<script src="
https://cdn.jsdelivr.net/npm/simple-lightbox@2.1.0/dist/simpleLightbox.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/simple-lightbox@2.1.0/dist/simpleLightbox.min.css
" rel="stylesheet">

{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].gallery.section | default: " gallery" }}">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].gallery.title | default:
                    "Services" }}</h2>
                {% if site.data.sitetext[site.locale].gallery.text %}
                <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].gallery.text }}</h3>
                {% endif %}
            </div>
        </div>

        <div class="row text-center">
            <div id="my-gallery">
                {% for file in site.static_files %}
                {% if file.path contains include.folder %}
                {% if file.extname == '.jpg' or
                file.extname == '.jpeg' or
                file.extname == '.JPG' or
                file.extname == '.JPEG' %}
            
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
            
                <a href="https://panshin-me.github.io/nissan-rogue/{{ file.path }}" target="_blank">
                    <img src="//images.weserv.nl/?url=https://panshin-me.github.io/nissan-rogue/{{ file.path }}&w=300&h=300&output=jpg&q=50&t=square" alt="{{ filename }}" />
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.gallery.section | default: " gallery" }}">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext.gallery.title | default: "Services" }}
                </h2>
                {% if site.data.sitetext.gallery.text %}
                <h3 class="section-subheading text-muted">{{ site.data.sitetext.gallery.text }}</h3>
                {% endif %}
            </div>
        </div>

        <div class="row text-center">
            <div id="my-gallery">
                {% for file in site.static_files %}
                {% if file.path contains include.folder %}
                {% if file.extname == '.jpg' or
                file.extname == '.jpeg' or
                file.extname == '.JPG' or
                file.extname == '.JPEG' %}
            
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
            
                <a href="https://panshin-me.github.io/nissan-rogue/{{ file.path }}" target="_blank">
                    <img src="//images.weserv.nl/?url=https://panshin-me.github.io/nissan-rogue/{{ file.path }}&w=300&h=300&output=jpg&q=50&t=square" alt="{{ filename }}" />
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</section>
{% endif %}
<script type="module">
    new SimpleLightbox({ elements: '#my-gallery a' });
</script>
<!-- End Gallery -->